[Desktop Entry]
Name=Brave Origin, the Latest
GenericName=Brave Origin, the Latest
Comment=Brave Origin updater tool
Exec=gksu python3 /opt/brave-origin-the-latest/brave-origin-the-latest.py gui
Icon=brave-origin-the-latest
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
